
/*
    Created by Damian Korcz (https://github.com/damiankorcz)
    Distributed under the Unlicense License.
    (https://github.com/damiankorcz/Alternative-Checkboxes-Reference-Set/blob/main/LICENSE)


    This snippet is not finalised yet.

    The following CSS Snippet should remove all styling for Alternative Checkboxes that aren't `- [ ]` or `- [x]`
    across every theme that uses Alternative Checkboxes.
    Added some extra specificity to make sure all themes respect the code below.
*/

body.theme-dark,
body.theme-light {
    input.is-checked:not([data-task="x"]),
    /* Reading Mode */
    li.task-list-item.is-checked:not([data-task="x"]) > input[type=checkbox]:checked,
    li.task-list-item.is-checked:not([data-task="x"]) > input[type=checkbox]:checked:after,
    li.task-list-item.is-checked:not([data-task="x"]) > input[type=checkbox]:checked:before,
    li.task-list-item.is-checked:not([data-task="x"]) > p > input[type=checkbox]:checked,
    li.task-list-item.is-checked:not([data-task="x"]) > p > input[type=checkbox]:checked:after,
    li.task-list-item.is-checked:not([data-task="x"]) > p > input[type=checkbox]:checked:before,
    /* Live Preview */
    label.task-list-label > input[type=checkbox]:not([data-task="x"]):checked,
    label.task-list-label > input[type=checkbox]:not([data-task="x"]):checked:after,
    label.task-list-label > input[type=checkbox]:not([data-task="x"]):checked:before,
    label.task-list-label > p > input[type=checkbox]:not([data-task="x"]):checked,
    label.task-list-label > p > input[type=checkbox]:not([data-task="x"]):checked:after,
    label.task-list-label > p > input[type=checkbox]:not([data-task="x"]):checked:before  {
        background-color: unset;
        background-image: unset;
        -webkit-mask-image: unset;
        -webkit-mask-position: unset; 
        -webkit-mask-size: unset;
        transform: unset; 
        background-image: unset;
        content: unset;
        background-color: unset;
        background: unset;
        border: unset; /* If we want to keep borders then might be best to only remove color and width properties */
        border-radius: unset;
        text-decoration: unset;
        color: unset;
        box-shadow: unset; /* Cyber Glow uses it to add glow around checkboxes */
        --checkbox-marker-color: unset;
    }

    /* Removes red text color (Qlean Theme) */
    .markdown-source-view.is-live-preview .HyperMD-task-line:is([data-task="-"]) [class^=cm-list], .markdown-source-view.is-live-preview .HyperMD-task-line:is([data-task="-"]), .markdown-rendered .task-list-item:is([data-task="-"]) [class^=cm-list], .style-settings-container .task-list-item:is([data-task="-"]) [class^=cm-list], .markdown-rendered .task-list-item:is([data-task="-"]),
    .style-settings-container .task-list-item:is([data-task="-"]) {
        color: unset;
    }

    /* Removes background color (Listive Theme) */
    .HyperMD-list-line:has(> .task-list-label > [data-task])::after,
    li[data-task]::after {
        background: unset;
    }

    /* Removes font weight change (ebullientworks theme) */
    &:not(.ebullientworks-nix-checkbox) div[data-task],
    &:not(.ebullientworks-nix-checkbox) li.task-list-item[data-task],
    &:not(.ebullientworks-nix-checkbox) li.task-list-item[data-task] > p,
    &:not(.ebullientworks-nix-checkbox) div[data-task] > label.task-list-label,
    &:not(.ebullientworks-nix-checkbox) .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task] {
        font-weight: inherit;
    }

    /* Removes text color (ITS Theme) */
    &.check-color.check-color .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task] [class^=cm-list]:not(.cm-formatting-task) /* Live Preview */,
    &.check-color.check-color.check-color ul > li[data-task].task-list-item.is-checked /* Live Preview */,
    .markdown-source-view.mod-cm6 .HyperMD-task-line:not([data-task="x"]) /* Reading Mode */{
        color: unset;
    }

    /* Removes text background color - Reading Mode (ITS Theme) */
    &.check-bg :is(ul, ol) > li:not([data-task="x"]).task-list-item.is-checked, /* Live Preview */
    &.check-bg .markdown-source-view.mod-cm6 .HyperMD-task-line:not([data-task="x"]) /* Reading Mode */ {
        background: unset;
    }

    /* Removes faded text (Things Theme) */
    .markdown-preview-view ul > li.task-list-item.is-checked:not([data-task="x"]),
    .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task='M'] {
        text-decoration: unset;
        color: inherit;
    }

    /*
        Resets Text Highlight checkboxes (AnuPpuccin)
        - Uses important to set padding :(
    */
    &.anp-speech-bubble {
        [data-task="0"],
        [data-task="1"],
        [data-task="2"],
        [data-task="3"],
        [data-task="4"],
        [data-task="5"],
        [data-task="6"],
        [data-task="7"],
        [data-task="8"],
        [data-task="9"] {
            background-color: unset;
            color: inherit;
            border-radius: unset;
            padding-left: unset !important;
            padding-right: unset !important;
            padding-top: var(--list-spacing) !important;
            padding-bottom: var(--list-spacing) !important;
            text-indent: inherit;

            .task-list-item-checkbox {
                max-width: unset;
                display: inline-block;
            }
        }

        /* Fixes indentation issues in Reading Mode */
        li.task-list-item.is-checked {
            &[data-task="0"],
            &[data-task="1"],
            &[data-task="2"],
            &[data-task="3"],
            &[data-task="4"],
            &[data-task="5"],
            &[data-task="6"],
            &[data-task="7"],
            &[data-task="8"],
            &[data-task="9"] {
                margin-inline-start: var(--list-indent);
            }
        }

        /* Uses gradients for background */
        [data-task="8"],
        [data-task="9"] {
            background: unset;
        }
    }

    /*
        Fixes indentation issues for 0-9 + § checkboxes in Live Preview (Vicious theme)
        - Vicious appears to be using the some code from AnuPpuccin.
        - Inheriting the !important use for padding :(
            - Not quite the same padding as other checkbox lines.
        - Can't apply it for now because it causes issues in other themes.
        - Need to find a Vicious unique class to specifically target it.
    */
    /* [data-task="0"],
    [data-task="1"],
    [data-task="2"],
    [data-task="3"],
    [data-task="4"],
    [data-task="5"],
    [data-task="6"],
    [data-task="7"],
    [data-task="8"],
    [data-task="9"],
    [data-task="§"] 
    {
        background-color: unset;
        color: inherit;
        padding-left: unset !important;
        padding-right: unset !important;
        padding-top: var(--list-spacing) !important;
        padding-bottom: var(--list-spacing) !important;
        border-radius: unset;

        
        .task-list-item-checkbox {
            max-width: unset;
            display: inline-block;
        }
    } */

    /*
        Removes text color for specific checkboxes (MagicUser Theme) 
        Added `:not(.cm-inline-code)` to prevent messing with inline code color in some themes.
    */
    *[data-task="P"] .cm-list-1:not(.cm-inline-code),
    *[data-task="M"] .cm-list-1:not(.cm-inline-code),
    *[data-task="O"] .cm-list-1:not(.cm-inline-code) {
        color: unset;
    }

    /* Removes crossed out text decoration (Sanctum Reborn Theme) */
    .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
    .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
        text-decoration: unset;
    }
}

/* Removes faded and crossed out text decoration (Minimal Theme) */
body:not(.tasks) {
    .markdown-preview-view ul li[data-task="-"].task-list-item.is-checked,
    .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:is([data-task="-"]),
    li[data-task="-"].task-list-item.is-checked {
        text-decoration: unset !important; /* Blue Topaz uses important :( */
        color: inherit;
    }
}